<html>
<head><title>Learning Chef</title></head>
<body>
<h1>Hello Chef</h1>
  <h2>IPADDRESS: <%= node['ipaddress'] %></h2>
  <h3>HOSTNAME: <%= node['hostname'] %></h3>
  <img src='robin.png' />
</body>
</html>

